/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(to left, #FFEAEC, #CDDA43);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HELLO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#hello {
  margin-left: 10vw;
  font-family: Helvetica, Arial, sans-serif;
}

#hello .text {
  margin-top: 0;
  max-width: 50vw;
  font-size: 150%;
  color: #000000;
}

#hello .text#top {
  color: #000000;
  font-size: 400%;
  font-weight: bold;
}

#hello .row.one .form-group {
  margin: 5vh 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#hello .row.one .form-group input {
  padding-left: 2%;
  max-width: 500px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  font-size: 20px;
  color: black;
}

#hello .row.one .form-group button {
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #35526F;
  color: #ffffff;
}

#hello .row.one .form-group button:hover {
  background-color: #e3f2fd;
  color: black;
  border: 1px solid #35526F !important;
}

