<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!--------------------------------------------------------- Required meta tags --------------------------------------------------------------->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!----------------------------------------------------------------- CSS ------------------------------------------------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Confirmation</title>
    <link rel="icon" type="image/gif/png" href="{% static 'Title.png'%}" />
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        html {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        body {
            background-image: linear-gradient(to left, #FFEAEC, #CDDA43);
        }

        ​ #confirmationTitle {
            text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
            color: #35526F;
            font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
            font-size: 3vw;
            text-align: center !important;
            padding-top: 5vh;
        }

        #confirmationDescription {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.75vw;
            color: rgb(106, 131, 156);
            font-style: normal;
            text-align: center;
            padding-top: 30px !important;
            padding-left: 2vw;
            padding-right: 2vw;
        }

        .form-group {
            padding-left: 35vw;
            padding-right: 35vw;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
        }

        .form-label {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1vw;
            color: rgb(106, 131, 156);
        }

        .form-group input {
            max-width: 500px;
            background-color: #FFFFFF;
            border: 1px solid #000000;
            font-size: 20px;
            color: black;
        }

        #buttons button {
            background-color: #35526F;
            color: #ffffff;
            margin-right: 0.5vw;
        }

        #buttons a {
            background-color: #35526F;
            color: #ffffff;
            margin-left: 0.5vw;
        }

        #buttons button:hover {
            background-color: #e3f2fd;
            color: black;
            border: 1px solid #35526F !important;
        }

        #buttons a:hover {
            background-color: #e3f2fd;
            color: black;
            border: 1px solid #35526F !important;
        }
    </style>
</head>

<!----------------------------------------------------------------- CONFIRM --------------------------------------------------------------------->

<body>
    <h1>
        <div id="confirmationTitle" style="
        color: #35526F;
        font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
        font-size: 3vw;
        text-align: center !important;
        padding-top: 5vh;">Are you sure?</div>
    </h1>
    <h2>
        <div id="confirmationDescription">
            The status once posted will be here permanently.
        </div>
    </h2>
    <br>
    <form method="POST" action="{% url 'tugas:confirmation' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="form-label">Name</label><input type="text" class="form-control" id="name"
                name="name" maxlength="50" value="{{ name }}" readonly>
            <br>
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control" id="status" name="status" maxlength="100" value="{{ status }}"
                readonly>
        </div>
        <br>
        <div id="buttons">
            <center><button type="submit" class="btn" name="yes">Yes</button>
                <a class="btn" href="{% url 'tugas:home' %}" role="button" name="no">No</a>
            </center>
        </div>
    </form>



    <!------------------------------------------------------------------ CSS ---------------------------------------------------------------------->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>