<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!--------------------------------------------------------- Required meta tags --------------------------------------------------------------->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!----------------------------------------------------------------- CSS ------------------------------------------------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Story 7</title>
    <link rel="icon" type="image/gif/png" href="{% static 'Title.png'%}" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
    <style>
        #buttons button {
            padding: 10px 15px;
            background-color: #35526F;
            color: #ffffff;
            margin-right: 0.5vw;
        }

        #buttons button:hover {
            background-color: #FFFFFF;
            color: black;
            border: 1px solid #FFFFFF !important;
        }
    </style>
</head>

<!----------------------------------------------------------------- HOMEPAGE ---------------------------------------------------------------------->

<body>
    <div id="hello">
        <div class="row one" style="margin-top:15%;">
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    <h1 class="text" id="top">Hello!</h1>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" maxlength="50"
                            placeholder="Name">
                        <br>
                        <input type="text" class="form-control" id="status" name="status" maxlength="100"
                            placeholder="Status">
                        <button type="submit" class="btn" id="postStatus">Post Status</button>
                    </div>
                </form>
                <div id="buttons">
                    <button class="btn" onclick=changeColour() name="changeColour">Change Colour</button>
                </div>
            </div>
            <div class="col-md-8" id="statuses">
                <table class="table table-bordered table-hover text-center" style="border: 2px solid #35526F; margin-right: 15%; max-height: 35vh;
                overflow-y: scroll; max-width: 500px; 
                margin-bottom: 15%;">
                    <thead
                        style="border: 2px solid #35526F; background-color: #DFDFDF; color: #35526F; text-shadow: none;">
                        <tr>
                            <th scope="col" style="border: 1px solid #763829;">Name</th>
                            <th scope="col" style="border: 1px solid #35526F;">Status</th>
                        </tr>
                    </thead>
                    <tbody
                        style="border: 2px solid #35526F; text-align: center; color: #35526F; background-color: white;">
                        {% for i in status %}
                        <tr>
                            <th scope="row" style="font-weight: normal; border: 1px solid #35526F;">{{ i.name }}</th>
                            <td style="font-weight: normal; border: 1px solid #35526F;" class="statusForChallenge"
                                name="statusForChallenge">
                                {{ i.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function changeColour() {
            var elements = document.getElementsByClassName("statusForChallenge");
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.color = "red";
            }
        }
    </script>


    <!------------------------------------------------------------------ CSS ---------------------------------------------------------------------->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>