/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(to left, #B9CBD9, #E9EAEC);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HELLO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#hello {
  margin-left: 10vw;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

#hello .text {
  margin-top: 0;
  max-width: 50vw;
  font-size: 150%;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  color: #35526F;
}

#hello .text#top {
  color: #35526F;
  font-size: 400%;
  font-weight: bold;
}

#hello .row.one .form-group {
  margin: 5vh 0px;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-weight: bold;
}

#hello .row.one .form-group input {
  padding-left: 2%;
  max-width: 500px;
  background-color: #e3f2fd;
  border: 1px solid #35526F;
  font-size: 20px;
  color: black;
}

#hello .row.one .form-group button {
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #35526F;
  color: #ffffff;
}

#hello .row.one .form-group button:hover {
  background-color: #e3f2fd;
  color: black;
  border: 1px solid #35526F !important;
}